//accordion
.content,
.ui.styled.accordion
  padding 0 !important
.ui.styled.accordion
  border none
  box-shadow none
  border-radius 0
  margin-bottom 20px
  .title
    display block
    color #34404b
  .accordion .title:hover,
  .title:hover,
  .title
    border none
    background #fff !important
@media (min-width: 720px)
  .ui.styled.accordion
    width auto
    background transparent
    margin-bottom 0
    .title
      display none
