// cards
.cards
  display flex
  justify-content space-between
  flex-direction row
  z-index 1
  margin-top 30px
  flex-wrap wrap
  &__item
    background-color #fff
    box-shadow 0 5px 15px rgba(0, 0, 0, 0.1)
    text-align center
    width 100%
    padding 30px
    box-sizing border-box
    position relative
    transition 2s transform ease
    perspective 1000
    transform-style preserve-3d
    &:first-child
      margin-bottom 30px
    &+&
      margin-bottom 30px
    &:hover
      transform rotate3d(0, 1, 0, 180deg)
      .cards__front
        opacity 0
      /*transition-delay 1s*/
      /*transform rotateY(-180deg)*/
      .feature
        z-index 10
        opacity 1
        transition-delay 1s
  /* transform rotateY(0deg)*/
  &__price
    color $orange
    font-size 18px
    font-weight bold
  a.cards__title
      margin 30px 0
      font-size 18px
      display block
      color #34404b
      font-weight 700
  &__front
    transition .5s all ease
    opacity 1
    z-index 9
    position relative
    perspective 1000
.feature
  position absolute
  perspective 1000
  top 0
  left 0
  background-color #fff
  padding 30px
  height 100%
  width 100%
  box-sizing border-box
  opacity 0
  z-index 0
  transition .5s all ease
  transform rotateY(180deg)
  a.feature__title
    color $orange
    font-size 18px
    font-weight bold
    margin 30px 0
    position relative
    display block
  &__description
    position relative
    &:after
      content ''
      position absolute
      height 1px
      background #f2f4f7
      bottom -30px
      width 60%
      left 50%
      transform translateX(-50%)
  &__image-wrapper
    img
      max-width 90px
      height 90px
  &__color
    margin 30px auto
    display flex
    width 70px
    justify-content space-between
    a
      width 13px
      height 13px
      display block
      border-radius 50%
  &__buttons
    display flex
    margin 0 auto
    padding-top 30px
    justify-content space-between
    font-size 18px
    width 60%
    a
      color #34404b
      &:hover
        color $orange
.color
  &__red
    background-color #e12e3f
  &__sapphire
    background-color #34404b
  &__blue
    background-color #3ab3ff
  &__green
    background-color #2fd967

.more-button
  font-size 10px
  background-color #fff
  padding 25px 0
  width 100%
  a
    color $orange
.arrivals
  .row
    flex-direction column


@media (min-width: 720px)
  .cards
    margin 80px 0
    .cards__item,
    .cards__item.cards__item--sales
      width calc(50% - 30px)
@media (min-width: 960px)
  .cards
    .cards__item,
    .cards__item.cards__item--sales
      width calc(33.33% - 30px)
@media (min-width: 1200px)
  .cards
    .cards__item
      width calc(25% - 30px)

