body
  margin 0
  padding 0
  font-size 16px
  font-family 'HarmoniaSansRegular', sans-serif
p
  margin 0
a
  text-decoration none
  cursor pointer
ul
  margin 0
  padding 0
h1, h2, h3, h4, h5, h6
  margin 0
.overlay
  position absolute
  background-color rgba(0,0,0,.7)
  height 0
  width 0
  z-index 10
  visibility hidden
  opacity 0
.overlay.active
  opacity 1
  visibility visible
  width 100%
  height 100%
.container
  width 100%
  padding 0 15px
  margin 0 auto
  text-align center
  box-sizing border-box
.row
  display flex
  text-align center
  align-items center
  justify-content space-between
.title--attention
  color #ff5912
.main
  padding 20px 0
  background-color #f4f6f8
.subtitle
  font-size 16px
  color #495662
  margin-top 25px
.title
  font-size 36px
  color #34404b
  text-transform uppercase
  display flex
  flex-wrap wrap
  justify-content center
.shown
  display block
.hidden
  display none !important
@media (min-width: 480px)
  .container
    width 450px
  .title
    display block
@media (min-width: 720px)
  .container
    width 690px
  .main
    padding 120px 0
@media (min-width: 960px)
  .container
    width 930px
@media (min-width: 1200px)
  .container
    width 1170px