@font-face
  font-family 'icomoon'
  src url('../public/fonts/icomoon.eot?f629an')
  src url('../public/fonts/icomoon.eot?f629an#iefix') format('embedded-opentype'),
  url('../public/fonts/icomoon.ttf?f629an') format('truetype'),
  url('../public/fonts/icomoon.woff?f629an') format('woff'),
  url('../public/fonts/icomoon.svg?f629an#icomoon') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'HarmoniaSansBold'
  src url('../public/fonts/HarmoniaSansProCyr-Bold.otf') format('opentype')
  font-weight normal
  font-style normal
@font-face
  font-family 'HarmoniaSansRegular'
  src url('../public/fonts/HarmoniaSansProCyr-Regular.otf') format('opentype')
  font-weight normal
  font-style normal
@font-face
  font-family 'HarmoniaSansSemiBold'
  src url('../public/fonts/HarmoniaSansProCyr-SemiBd.otf') format('opentype')
  font-weight normal
  font-style normal
@font-face
  font-family 'HarmoniaSansBlack'
  src url('../public/fonts/HarmoniaSansProCyr-Black.otf') format('opentype')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-dots
  &:before
    content "\e906"

.icon-mail
  &:before
    content "\e907"

.icon-phone
  &:before
    content "\e905"

.icon-search
  &:before
    content "\e986"

.icon-google
  &:before
    content "\e900"

.icon-instagram
  &:before
    content "\e901"

.icon-facebook
  &:before
    content "\e902"

.icon-cart
  &:before
    content "\e903"

.icon-sphere
  &:before
    content "\e9c9"

.icon-twitter
  &:before
    content "\ea96"

.icon-add-to-cart
  &:before
    content "\e904"

.icon-user-o
  &:before
    content "\e90a"

.icon-heart
  &:before
    content "\e909"

.icon-star
  &:before
    content "\e908"