// footer
.row--footer
  flex-direction column
.footer
  padding 85px 0
  background-color #fff
  &__info
    text-align center
  &__block-list
    width auto
    display flex
    flex-direction column
    flex-wrap wrap
    margin 25px 0
  &__list
    list-style-type none
    font-size 16px
    & + &
      margin-top 20px
  &__item
    color #28313b
    text-align center
    &+&
      margin-top 15px
    &:hover
      color $orange
    a
      color #000
      &:hover
        color $orange
.payment__title
  font-size 16px
  font-weight 400
  color $orange
  text-align center
  font-family 'HarmoniaSansSemiBold'
.payment__list
  display flex
  margin-top 19px
.payment-method
  height 19px
  width 27px
  background url('../public/img/payment-images.png') 0 0
  display block
  & + &
    margin-left 9px
.footer__copyright
  font-size 14px
.method-1
  background-position 0 0
.method-2
  background-position -35px 0
.method-3
  background-position -71px 0
.method-4
  background-position -107px 0
.method-5
  background-position -143px 0
@media (min-width: 480px)
  .footer
    &__block-list
      flex-direction row
    &__list
      width 130px
      & + &
        margin-top 0
@media (min-width: 720px)
  .footer
    &__block-list
      width 485px
      justify-content space-around
    &__list
      width auto
@media (min-width: 960px)
  .footer
    &__info, &__item
      text-align left
    &__block-list
      margin 0
    &__list
      list-style-type disc
      font-size 14px
    .row
      flex-direction row
  .payment__title
    text-align left

@media (min-width: 1200px)
  .footer
    &__block-list
      justify-content space-between
