//header
.header
  background #fff
  .row
    justify-content center
  &__item
    border-bottom 1px solid rgba(230, 232, 235, .5)
    box-sizing border-box
    &--big
      height 120px
      .container
        display flex
        justify-content space-between
        height 100%
        align-items center
  a
    &:hover
      color $orange
  a.active
    color $orange
  .row
    height 60px
  .cart
    position relative
    &__quantity
      position absolute
      top -12px
      left 1px
      font-size 10px
      color #fff
      background-color #34404b
      border-radius 50%
      height 15px
      width 15px
      line-height 15px
.contact
  width 250px
  display flex
  font-size 13px
  flex-direction column
  &__item
    justify-content center
    display flex
    align-items center
    color #34404b
  i
    color $orange
  &__text
    padding-left 5px
.sidebar
  width 250px
  background #FFFFFF
  box-shadow 0 0 5px 0 #000
  right -100%
  top 0
  z-index 99999
  position fixed
  height 100vh
  transition .5s all ease
  .nav__item
    border-bottom 1px solid $orange
  .menu__item
    border-bottom 1px solid #505050
    height 40px
    line-height 40px
    padding-left 20px
  &__wrapper
    position relative
  &__close
    position absolute
    width 30px
    height 20px
    left -50px
    top 15px
    cursor pointer
  &__item
    background-color #fff
    left 0
    &:nth-child(1)
      transform translateY(8px) rotate(-45deg)
    &:nth-child(2)
      transform rotate(45deg)
.menu
  list-style none
  color #505050
  font-size 20px
  width 500px
  padding 0
  justify-content space-between
  &--mobile
    display block
    width 250px
  &--active
    right 0
  &__link
    color #505050
    transition 0.5s
    &:hover
      color #000
.mobile
  .mobile__item
    background-color #505050
    left 0
.mobile
  width 30px
  height 20px
  position absolute
  right 15px
  display block
  cursor pointer
  top -13px
  &--active
    .mobile__item
    &:nth-child(1)
      transform translateY(8px) rotate(-45deg)
    &:nth-child(2)
      transform scale(0)
    &:nth-child(3)
      transform translateY(-8px) rotate(45deg)
  &__item
    transition .4s all ease
    height 4px
    width 100%
    position absolute
    border-radius 2px
    &:nth-child(1)
      top 0px
    &:nth-child(2)
      top 8px
    &:nth-child(3)
      top 16px
.social
  width 100px
  display none
  &__list
    a
      color #34404b
.list
  display none
  justify-content space-between
  list-style none
  padding 0
.header__buttons
  width 125px
  display none
  justify-content space-between
  align-items center
  a
    font-size 16px
    color #34404b
.nav
  position relative
  width 447px
  &__link
    color #34404b
    &:hover
      color $orange
  &__item
    height 50px
    display flex
    align-items center
    padding-left 20px

@media (min-width: 480px)
  .contact
    flex-direction row
    width 250px
    justify-content space-between
@media (min-width: 960px)
  .header
    &__mobile
      display none
    &__menu
      display flex
    .row
      justify-content space-between
  .sidebar
    display none
  .list, .header__buttons
    display flex
  .social
    display block