// products
//left column
.column-left
  width 100%
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
.filter__box
  background-color #fff
  padding 20px
  box-sizing border-box
  width 100%
  margin-bottom 10px
  .form
    display flex
    flex-direction column
    align-items left
    width 100%
    &__label
      font-family 'HarmoniaSansSemiBold'
      color #34404b
      margin-left 10px
    &__control
      display flex
      align-items center
      position relative
    &__chekmark
      position absolute
      top 2px
      left 0
      height 15px
      width 15px
  .filter__price
    .form__control
      display block
.filter__title
  color $orange
  font-size 18px
  font-family 'HarmoniaSansBlack'
.form__category .form__chekmark
  display none
.filter__box input[type=checkbox]
  visibility hidden
  &:after
    content ''
.filter__box input[type=checkbox]:checked ~ form__label
  color $orange
.filter__box input[type=checkbox]:checked ~ .form__chekmark
  border 3px solid $orange
  background-color transparent
.form__control .form__chekmark
  box-sizing border-box
  background-color #ccc
.filter__box input[type=checkbox]:checked ~ .form__chekmark:after
  display block
.filter__box input[type=checkbox]:after
  content ''
  position absolute
  display none

.filter__box .filter__price .filter__input
  text-align left

@media (min-width: 480px)
  .filter__box
    width calc(50% - 10px)

@media (min-width:720px)
  .column-left
    width 268px
  .filter__box
    width 100%
    padding 40px
    margin-bottom 0
    & + &
      margin-top 20px
  .filter__box .filter__price .filter__input
    display flex