// newsletter
.newsletter
  input
    border none
  .icon-mail
    color $orange
  &__wrapper
    background-color #fff
    display flex
    flex-direction column
    justify-content space-between
    align-items center
    padding 10px
  &__heading
    display flex
    flex-direction column
  &__title
    font-size 18px
    color $orange
    font-weight bold
  &__subtitle
    font-size 14px
    color #34404b
    font-style italic
.input__submit
  background-color $orange
  padding 0
  height 50px
  width 100px
  color #fff
  cursor pointer
  margin-top 20px
.form__control
  display flex
  align-items center
  position relative
.input__email
  margin 0 10px
label.error
  color red
  width 200px
.form
  display flex
  justify-content center
  margin-top 30px
  flex-direction column
  align-items center
  &__validate
    .form__control
      flex-wrap wrap
      justify-content center
@media (min-width: 480px)
  .newsletter
    &__subtitle
      margin-left 23px
  .form
    justify-content space-between
    flex-direction row
  .input__submit
    margin-top 0
@media(min-width:720px)
  .newsletter
    &__wrapper
      padding 36px 45px
  label.error
    position absolute
    top 28px
@media (min-width: 960px)
  .newsletter
    &__wrapper,
    &__heading
      flex-direction row
  .form
    width 40%
    margin 0