// offers
.container--offers
  height 100%
.offers
  background url('../img/top-bg.png') no-repeat
  background-size cover
  width 100%
  height 450px
  &__description
    text-align left
  &__title
    color $orange
    font-size 28px
    text-transform uppercase
  &__addition
    font-size 18px
    color #3c4751
    line-height 30px
    display block
    margin 10px 0
  &__price
    color #34404b
  &__text
    color #495662
  &__buy
    text-align left
    margin-top 30px
    width 220px
    display flex
    justify-content space-between
  .icon-cart
    color $orange
.offers__slider
  align-items center
  height 100%
.slick-dots
  bottom 60px
  display flex
  width 50px
  justify-content space-between
  left 50%
  transform translateX(-50%)
@media (min-width:480px)
  .offers__addition
    text-align left
@media (min-width:720px)
  .slick-dots
    left 0
    bottom auto
    display block
    width auto
    transform none
  .slick-dots
    .slick-active,
    .slick-active button
      height 25px !important
  .slick-dots
    .slick-active button
      &:before
        height 20px !important
  .offers
    height 650px
    &__title
      font-size 52px
