// product cards
.row--products
  align-items flex-start
.cards.products
  margin 0
  .cards__item
    width 100%
.cards__item
  display block
.cards__item.is-passive,
.cards__category
  display none

@media (min-width:720px)
  .products
    width calc(100% - 296px)
  .arrivals
    .row
      flex-direction row

@media (min-width: 960px)
  .cards.products
    .cards__item
      width calc(50% - 30px)
@media (min-width: 1200px)
  .cards.products
    .cards__item
      width calc(33.33% - 30px)