// range slider
.irs-slider
  width 11px
  height 11px
  top 30px
  background #34404b
  border none
  box-shadow none
  &:hover
    background #34404b
.irs-bar
  border-color #34404b
  background #34404b
  height 3px
.irs-line
  height 3px
  border none
.irs-from,
.irs-to
  background transparent
  color #34404b
.irs-min,
.irs-max
  display none
.range__label
  color #34404b
  font-size 14px
  font-family 'HarmoniaSansSemiBold'
.range__from,
.range__to
  width 40%
  margin-left 15px
  border none
  background-color #edf0f2