// recomended
.recomended
  margin 20px 0
  .row
    flex-direction column
  &__item
    background-color #fff
    border 1px solid rgba(52, 64, 75, 0.05)
    height 100px
    box-sizing border-box
    display flex
    flex-direction column
    justify-content center
    padding 10px
    width 100%
    & + &
      margin-top 20px
    &--60
      /*width calc(60% - 15px)*/
      display flex
      align-items center
      flex-direction column
      justify-content space-between
      height auto

  /*&--40
    width calc(40% - 15px)*/
  &__title
    font-size 22px
    text-align center
  &__subtitle
    font-size 12px
    margin-top 13px
  &__sale
    position relative
    width 80px
    height 80px
    display flex
    justify-content center
    &-info
      position absolute
      z-index 2
      top 50%
      transform translateY(-50%)
    &:after
      content ''
      position absolute
      background-color $orange
      width 51px
      height 61px
      top 50%
      left -10px
      transform translate(50%, -50%) rotate(45deg)
    &:before
      content ''
      position absolute
      background-color $orange
      width 50px
      height 63px
      top 50%
      left -9px
      opacity 0.7
      transform translate(50%, -50%) rotate(-45deg)
  &__description
    position relative
    text-align center
    margin-top 20px
    &:after
      content ''
      width 1px
      height 100%
      background-color #f5f5f6
      position absolute
      top 0
      right -37px
  &__price
    margin-top 20px
    font-size 32px
    color $orange
    font-family 'HarmoniaSansBlack'
  &__number
    margin-left 10px
@media (min-width: 480px)
  .recomended
    margin 119px 0
    &__item
      & + &
        margin-top 0
    &__description
      text-align left
@media(min-width:720px)
  .recomended
    &__title
      text-align left
    &__price, &__description
      margin-top 0
    &__item
      padding 10px 30px
      &--60
        flex-direction row
@media (min-width: 960px)
  .recomended
    .row
      flex-direction row
    &__item
      &--60
        width calc(60% - 15px)
        height 100px
      &--40
        width calc(40% - 15px)
@media (min-width: 1200px)
  .recomended
    &__item
      padding 10px 60px
