// sales
.sales
  .cards__front,
  .feature
    display flex
    align-items center
    justify-content space-between
    flex-direction column
    .cards__title
      margin-top 0
    .cards__price--sale
      font-size 16px
.cards__item.cards__item--sales
  width 100%
.cards__voite
  display flex
  justify-content space-between
  margin-top 20px
.raiting
  .icon-star
    margin 0 2px
    color #edf0f6
    &.active
      color $orange
.add
  transition .5s
  color #495662
  &:hover
    color $orange
  &__text
    margin-left 5px
@media (min-width: 480px)
  .sales
    .cards__front,
    .feature
      flex-direction row