//view
.newsletter--view
  margin-top 20px
.main--view
  padding-top 0
.row--view
  flex-direction column
.view
  bg #fff
  padding 122px 0
  .offers__text
    padding-bottom 40px
  &__galery
    width 100%
  &__info
    width 100%
    text-align left
  &__order
    display flex
    justify-content space-between
    align-items center
    margin-top 25px
    flex-direction column
  &__description
    display flex
    border-bottom 1px solid #edeff1
    border-top 1px solid #edeff1
    align-items center
    flex-direction column
    pa 44px 0
  &__price
    fs 20px
    color #34404b
    font-family 'HarmoniaSansBlack'
  .view__media
    display flex
    width 125px
    justify-content space-between
    margin 20px 0
  &__quantity
    margin-top 15px
  &__quantity, &__size
    display flex
    align-items center
    width 212px
    justify-content space-between
    .quantity
      bg transparent
      border none
      max-width 20px
      color $orange
      text-align center
      font-family 'HarmoniaSansSemiBold'
      fs 18px
.size__button
  color #495662
  &:hover
    color #495662
  & + &
    margin-left 10px
  &.active__size
    color $orange
    font-size 26px

.feature__buttons--view
  padding 0
  margin 0
  display flex
  align-items center
  justify-content space-between
  width 280px
  flex-direction column
.counter
  display flex
  align-items center
  width 50px
  justify-content space-between
  &__button
    bg transparent
    border 0
    padding 0
    fs 18px
    color #34404b
    cursor pointer
.feature__buttons
  .order
    background-color $orange
    border none
    pa 18px 23px
    border-radius 25px
    color #fff
.slider-nav__item
  margin 20px
  background-color #f4f6f8
  img
    padding 10px 26px
    height 75px
.slider-nav
  .slick-current
    background-color $orange
    img
      opacity .3
  .slick-list
    width 100%
    padding 0 !important
.related
  padding-top 122px
@keyframes viewImage
  0%
    width 150px
  100%
    width 0
    display none
@media (min-width: 720px)
  .main--view
    padding-top 0
  .view__description
    flex-direction row
    justify-content space-between
    align-items left
  .view
    &__quantity
      margin-top 0
    &__media
      margin 0
  .feature__buttons--view, .view__order
    flex-direction row
  .newsletter--view
    margin-top 120px
@media (min-width: 720px)
  .slider-nav
    .slick-list
      width 70%
      margin 0 auto
@media (min-width: 960px)
  .slider-nav
    .slick-list
      width 100%
  .row--view
    flex-direction row
  .view
    &__order
      flex-direction row
    &__galery
      width calc(40% - 10px)
    &__info
      width calc(60% - 10px)
  .slider-nav__item
    img
      height 48px