include ./../mixins/index
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s')
        meta(name='title' content='Shopno')
        meta(name='keywords' content='shop, SHOP, Shop, shop')
        meta(name='og:title' content='Shop')
        meta(name='og:description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s')
        link(rel='stylesheet' href='./../static/css/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,700')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400')
        title shop
    body
        .overlay
        block header
            +header()
        block content
            include ./../includes/content-home.pug
        block footer
            include ./../includes/footer.pug
        block scripts
            include ./../includes/scripts.pug