extends ./base
block content
    section.offers
        .container.container--offers
            .offers__slider
                .offers__item
                    .offers__info
                        .offers__description
                            h2.offers__title FULL WINTER KIT
                            span.offers__addition Half Jacket + Skiny Trousers + Boot leather
                            p.offers__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        .offers__buy
                            span.offers__price Price: 120$
                            a.icon-cart Order Now
                .offers__item
                    .offers__info
                        .offers__description
                            h2.offers__title FULL WINTER KIT
                            span.offers__addition Half Jacket + Skiny Trousers + Boot leather
                            p.offers__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        .offers__buy
                            span.offers__price Price: 120$
                            a.icon-cart Order Now
                .offers__item
                    .offers__info
                        .offers__description
                            h2.offers__title FULL WINTER KIT
                            span.offers__addition Half Jacket + Skiny Trousers + Boot leather
                            p.offers__text Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        .offers__buy
                            span.offers__price Price: 120$
                            a.icon-cart Order Now
    main.main
        section.arrivals
            .container
                h2.title
                    span.title--attention NEW&nbsp;
                    |ARRIVALS
                h5.subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry

                .cards
                    -
                        let cards=[
                            {
                                image:'./../static/public/img/product-1.png',
                                cards__title:'Reebok Track Jacket',
                                cards__price:'100$',
                                view__link:'./view.html',
                                class:'shown'
                            },
                            {
                                image:'./../static/public/img/product-2.png',
                                cards__title:'Reebok Track Jacket',
                                cards__price:'100$',
                                view__link:'./view.html',
                                class:'shown'
                            },
                            {
                                image:'./../static/public/img/product-3.png',
                                cards__title:'Reebok Track Jacket',
                                cards__price:'100$',
                                view__link:'./view.html',
                                class:'shown'
                            },
                            {
                                image:'./../static/public/img/product-3.png',
                                cards__title:'Reebok Track Jacket',
                                cards__price:'100$',
                                view__link:'./view.html',
                                class:'shown'
                            },
                            {
                                image:'./../static/public/img/product-3.png',
                                cards__title:'Reebok Track Jacket',
                                cards__price:'100$',
                                view__link:'./view.html',
                                class:'hidden'
                            },
                            {
                                image:'./../static/public/img/product-3.png',
                                cards__title:'Reebok Track Jacket',
                                cards__price:'100$',
                                view__link:'./view.html',
                                class:'hidden'
                            }
                        ]
                    each card, i in cards
                        .cards__item(class=card.class)
                            .cards__feature.feature
                                .feature__description
                                    .feature__image-wrapper
                                        img(src=card.image alt='')
                                    a.feature__title(href=card.view__link)=card.cards__title
                                    .feature__size sizes: s - m - l - xl
                                    .feature__color.color
                                        a.color__red
                                        a.color__sapphire
                                        a.color__blue
                                        a.color__green
                                .feature__buttons
                                    .share
                                        a.icon-sphere
                                    .add-to-cart
                                        a.icon-add-to-cart
                                    .wishlist
                                        a.icon-heart
                            .cards__front
                                .cards__image-wrapper
                                    img(src=card.image alt='')
                                a.cards__title(href=card.view__link)=card.cards__title
                                .cards__price 100$
                .more-button
                    a.icon-dots
        section.recomended
            .container
                .row
                    .recomended__item.recomended__item--60
                        .recomended__sale
                            .recomended__sale-info
                                p Sale
                                span 50%
                        .recomended__description
                            h3.recomended__title.title FULL WINTER KIT
                            h5.recomended__subtitle.subtitle Half Jacket + Skiny Trousers + Boot leather
                        .recomended__price
                            i.icon-add-to-cart
                            span.recomended__number 120$
                    .recomended__item.recomended__item--40
                        h4 adv
                            span area
                        p 100 x 470
        section.sales
            .container
                h2.title
                    span.title--attention Best&nbsp;
                    | Sales
                h5.subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .cards
                    -for(let i = 0; i<3; i++)
                        .cards__item.cards__item--sales
                            .cards__front
                                .cards__image-wrapper
                                    img(src='./../static/public/img/product-4.png' alt='')
                                .cards_info
                                    .cards__title Reebok Track Jacket
                                    .cards__voite
                                        .raiting
                                            i.icon-star.ui.star.active
                                            i.icon-star.ui.star.active
                                            i.icon-star.ui.star.active
                                            i.icon-star.ui.star
                                        .cards__price.cards__price--sale 100$
                            .cards__feature.feature
                                .feature__image-wrapper
                                    img(src='./../static/public/img/product-4.png' alt='')
                                .cards_info
                                    .cards__title Reebok Track Jacket
                                    a.cards__add.add
                                        i.icon-add-to-cart
                                        span.add__text add to cart
        section.newsletter
            .container
                .newsletter__wrapper
                    .newsletter__heading
                        h3.newsletter__title News letter
                        span.newsletter__subtitle join us now to get all news and special offers
                    form.form.form__validate
                        .form__control
                            i.icon-mail
                            input.input__email(type='email' name='email' id='email' placeholder='type your email here')
                        input.input__submit(type='submit' value='Join us')
