extends ./base
block content
    main.main
        section.arrivals
            .container
                .row.row--products
                    .ui.styled.accordion
                        .content
                            .title
                                i.dropdown.icon
                                |     Filters
                            aside.column-left
                                .filter__box
                                    .filter__categories
                                        h3.filter__title Categories
                                        form.form
                                            .form__control
                                                input.form__category(type='checkbox' name='man' id='man')
                                                span.form__chekmark
                                                label.form__label(for='man') Man
                                            .form__control
                                                input.form__category(type='checkbox' name='woman' id='woman')
                                                span.form__chekmark
                                                label.form__label(for='woman') Woman
                                            .form__control
                                                input.form__category(type='checkbox' name='children' id='children')
                                                span.form__chekmark
                                                label.form__label(for='children') Children
                                            .form__control
                                                input.form__category(type='checkbox' name='hotDeals' id='hotDeals')
                                                span.form__chekmark
                                                label.form__label(for='hotDeals') Hot Deals
                                .filter__box
                                    .filter__price
                                        h3.filter__title Price Filter
                                        .form__control
                                            input.slider-range(type='text' name='slider-range' value='')
                                        .form__control.filter__input
                                            .range__input
                                                label.range__label(for='from') From
                                                input.range__from(type='text' name='from' id='from')
                                            .range__input
                                                label.range__label(for='to') To
                                                input.range__to(type='text' name='to' id='to')
                                .filter__box
                                    .filter__sizes
                                        h3.filter__title Sizes
                                        form.form
                                            .form__control
                                                input.form__size(type='checkbox' name='s' id='s')
                                                span.form__chekmark
                                                label.form__label(for='s') Small
                                            .form__control
                                                input.form__size(type='checkbox' name='m' id='m')
                                                span.form__chekmark
                                                label.form__label(for='m') Medium
                                            .form__control
                                                input.form__size(type='checkbox' name='l' id='l')
                                                span.form__chekmark
                                                label.form__label(for='l') Large
                                            .form__control
                                                input.form__size(type='checkbox' name='xl' id='xl')
                                                span.form__chekmark
                                                label.form__label(for='xl') X-Large
                                .filter__box
                                    .filter__brands
                                        h3.filter__title Brands
                                        form.form
                                            .form__control
                                                input.form__brand(type='checkbox' name='reebok' id='reebok')
                                                span.form__chekmark
                                                label.form__label(for='reebok') Reebok
                                            .form__control
                                                input.form__brand(type='checkbox' name='addidas' id='addidas')
                                                span.form__chekmark
                                                label.form__label(for='addidas') Addidas
                                            .form__control
                                                input.form__brand(type='checkbox' name='nike' id='nike')
                                                span.form__chekmark
                                                label.form__label(for='nike') Nike
                                            .form__control
                                                input.form__brand(type='checkbox' name='active' id='active')
                                                span.form__chekmark
                                                label.form__label(for='active') Active
                    .cards.products
                        -
                            let cards=[
                                {
                                    image:'./../static/public/img/product-2.png',
                                    cards__title:'Reebok Track Jacket',
                                    cards__price:'100',
                                    brand:'reebok',
                                    category:'man',
                                    sizes:'m',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-3.png',
                                    cards__title:'addidas Track Jacket',
                                    cards__price:'100',
                                    brand:'addidas',
                                    category:'man',
                                    sizes:'s',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-3.png',
                                    cards__title:'reebok Track Jacket',
                                    cards__price:'200',
                                    brand:'reebok',
                                    category:'woman',
                                    sizes:'x',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-2.png',
                                    cards__title:'active Track Jacket',
                                    cards__price:'300',
                                    brand:'active',
                                    category:'woman',
                                    sizes:'s',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-1.png',
                                    cards__title:'nike Track Jacket',
                                    cards__price:'500',
                                    brand:'nike',
                                    category:'children',
                                    sizes:'x',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-3.png',
                                    cards__title:'active Track Jacket',
                                    cards__price:'600',
                                    brand:'active',
                                    category:'children',
                                    sizes:'xl',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-2.png',
                                    cards__title:'nike Track Jacket',
                                    cards__price:'1000',
                                    brand:'nike',
                                    category:'hotDeals',
                                    sizes:'xl',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-1.png',
                                    cards__title:'addidas Track Jacket',
                                    cards__price:'300',
                                    brand:'addidas',
                                    category:'hotDeals',
                                    sizes:'m',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-1.png',
                                    cards__title:'addidas Track Jacket',
                                    cards__price:'300',
                                    brand:'addidas',
                                    category:'hotDeals',
                                    sizes:'s',
                                    class:'shown',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-3.png',
                                    cards__title:'addidas Track Jacket',
                                    cards__price:'700',
                                    brand:'addidas',
                                    category:'man',
                                    sizes:'s',
                                    class:'hidden',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-3.png',
                                    cards__title:'addidas Track Jacket',
                                    cards__price:'700',
                                    brand:'addidas',
                                    category:'man',
                                    sizes:'s',
                                    class:'hidden',
                                    view__link:'./view.html'
                                },
                                {
                                    image:'./../static/public/img/product-3.png',
                                    cards__title:'addidas Track Jacket',
                                    cards__price:'700',
                                    brand:'addidas',
                                    category:'man',
                                    sizes:'s',
                                    class:'hidden',
                                    view__link:'./view.html'
                                }
                            ]
                        each card, i in cards
                            .cards__item(class=card.class)
                                .cards__feature.feature
                                    .feature__description
                                        .feature__image-wrapper
                                            img(src=card.image alt='')
                                        a.feature__title(data-brand=card.brand href=card.view__link)=card.cards__title
                                        .feature__size(data-sizes=card.sizes)='sizes: ' + card.sizes
                                        .feature__color.color
                                            a.color__red
                                            a.color__sapphire
                                            a.color__blue
                                            a.color__green
                                    .feature__buttons
                                        .share
                                            a.icon-sphere
                                        .add-to-cart
                                            a.icon-add-to-cart
                                        .wishlist
                                            a.icon-heart
                                .cards__front
                                    .cards__category(data-category=card.category)=card.category
                                    .cards__image-wrapper
                                        img(src=card.image alt='')
                                    a.cards__title(data-brand=card.brand href=card.view__link)=card.cards__title
                                    .cards__price(data-price=card.cards__price)=card.cards__price+'$'
                        .more-button
                            a.icon-dots
        section.newsletter.newsletter--view
            .container
                .newsletter__wrapper
                    .newsletter__heading
                        h3.newsletter__title News letter
                        span.newsletter__subtitle join us now to get all news and special offers
                    form.form.form__validate
                        .form__control
                            i.icon-mail
                            input.input__email(type='email' name='email' id='email' placeholder='type your email here')
                        input.input__submit(type='submit' value='Join us')
