extends ./base
block content
    main.main.main--view
        section.view
            .container
                .row.row--view
                    .view__galery
                        .slider.slider-for
                            -
                                let big__slides = [
                                    {
                                        big__slides:'./../static/public/img/product-5.png'
                                    },
                                    {
                                        big__slides:'./../static/public/img/product-5-1.png'
                                    },
                                    {
                                        big__slides:'./../static/public/img/product-5-2.png'
                                    },
                                    {
                                        big__slides:'./../static/public/img/product-5-2.png'
                                    }
                                ]
                            each big__slide, i in big__slides
                                .slider__item
                                    img.slider__image(src=big__slide.big__slides alt='')
                        .slider-nav.slider
                            -
                                let small__slides = [
                                    {
                                        small__slides:'./../static/public/img/product-5.png'
                                    },
                                    {
                                        small__slides:'./../static/public/img/product-5-1.png'
                                    },
                                    {
                                        small__slides:'./../static/public/img/product-5-2.png'
                                    },
                                    {
                                        small__slides:'./../static/public/img/product-5-2.png'
                                    }
                                ]
                            each small__slide, i in small__slides
                                .slider-nav__item
                                    img(src=small__slide.small__slides alt='')
                    .view__info
                        .view__text
                            h2.offers__title.offers__title--view(data-title='FULL WINTER KIT') FULL WINTER KIT
                            span.offers__addition Half Jacket + Skiny Trousers + Boot leather
                            p.offers__text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                        .view__choose
                            -
                                let view__sizes=[
                                    {
                                        size:'s',
                                        size__class:'active__size'
                                    },
                                    {
                                        size:'m',
                                        size__class:''
                                    },
                                    {
                                        size:'x',
                                        size__class:''
                                    },
                                    {
                                        size:'xl',
                                        size__class:''
                                    }
                                ]
                            .view__description
                                .view__size
                                    span Choose size
                                    .view__buttons
                                        each size, i in view__sizes
                                            a.size__button(data-viewSize=size.size class=size.size__class)=size.size
                                .view__quantity
                                    span Choose quantity
                                    .view__counter.counter
                                        button.counter__button.counter__plus +
                                        input.quantity(type='text' name='quantity' value='1' disabled)
                                        button.counter__button.counter__minus -
                        .view__order
                            span.view__price(data-value=120) 120$
                            .feature__buttons.feature__buttons--view
                                .view__media
                                    .share
                                        a.icon-sphere
                                    .add-to-cart
                                        a.icon-add-to-cart
                                    .wishlist
                                        a.icon-heart
                                input.order(type='button' value='Order Now')
        section.related
            .container
                h2.title
                    span.title--attention Related&nbsp;
                    |products
                h5.subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .cards
                    -
                        let cards=[
                        {
                        image:'./../static/public/img/product-1.png',
                        cards__title:'Reebok Track Jacket',
                        cards__price:'100$'
                        },
                        {
                        image:'./../static/public/img/product-2.png',
                        cards__title:'Reebok Track Jacket',
                        cards__price:'100$'
                        },
                        {
                        image:'./../static/public/img/product-3.png',
                        cards__title:'Reebok Track Jacket',
                        cards__price:'100$'
                        },
                        {
                        image:'./../static/public/img/product-3.png',
                        cards__title:'Reebok Track Jacket',
                        cards__price:'100$'
                        }
                        ]
                    each card, i in cards
                        .cards__item
                            .cards__feature.feature
                                .feature__description
                                    .feature__image-wrapper
                                        img(src=card.image alt='')
                                    .feature__title=card.cards__title
                                    .feature__size sizes: s - m - l - xl
                                    .feature__color.color
                                        a.color__red
                                        a.color__sapphire
                                        a.color__blue
                                        a.color__green
                                .feature__buttons
                                    .share
                                        a.icon-sphere
                                    .add-to-cart
                                        a.icon-add-to-cart
                                    .wishlist
                                        a.icon-heart
                            .cards__front
                                .cards__image-wrapper
                                    img(src=card.image alt='')
                                .cards__title=card.cards__title
                                .cards__price 100$
        section.newsletter.newsletter--view
            .container
                .newsletter__wrapper
                    .newsletter__heading
                        h3.newsletter__title News letter
                        span.newsletter__subtitle join us now to get all news and special offers
                    form.form.form__validate
                        .form__control
                            i.icon-mail
                            input.input__email(type='email' name='email' id='email' placeholder='type your email here')
                        input.input__submit(type='submit' value='Join us')


