footer.footer
    .container
        .row.row--footer
            .footer__info
                .footer__image-wrapper
                    img(src='./../static/public/img/logo.png' alt='')
                .footer__copyright
                    p shopy c 2015. your copy right here
            .footer__block-list
                -
                    let footer__block_1=[
                    {
                    footer__item:'about us',
                    footer__link:'#'
                    },
                    {
                    footer__item:'contact us',
                    footer__link:'#'
                    },
                    {
                    footer__item:'support',
                    footer__link:'#'
                    }
                    ];
                -
                    let footer__block_2=[
                    {
                    footer__item:'our feed',
                    footer__link:'#'
                    },
                    {
                    footer__item:'terms and conditions',
                    footer__link:'#'
                    },
                    {
                    footer__item:'our privacy',
                    footer__link:'#'
                    }
                    ];
                -
                    let footer__block_3=[
                    {
                    footer__item:'join us',
                    footer__link:'#'
                    },
                    {
                    footer__item:'live support',
                    footer__link:'#'
                    }
                    ]
                ul.footer__list
                    each footer__item, i in footer__block_1
                        li.footer__item
                            a(href=footer__item.footer__link)=footer__item.footer__item
                ul.footer__list
                    each footer__item, i in footer__block_2
                        li.footer__item
                            a(href=footer__item.footer__link)=footer__item.footer__item
                ul.footer__list
                    each footer__item, i in footer__block_3
                        li.footer__item
                            a(href=footer__item.footer__link)=footer__item.footer__item
            .footer__payment
                h3.payment__title Payment Methods
                ul.payment__list
                    li.method-1.payment-method
                    li.method-2.payment-method
                    li.method-3.payment-method
                    li.method-4.payment-method
                    li.method-5.payment-method
