mixin menu(menuItems)
    each menu, i in menuItems
        li.nav__item
            a.nav__link(href=menu.link)=menu.text
mixin header
    header.header
        .header__item
            .container
                .row
                    .header__contact.contact
                        a.contact__item(href='mailto:info@shopy.com')
                            i.icon-mail
                            span.contact__text info@shopy.com
                        a.contact__item
                            i.icon-phone
                            span.contact__text 996 - 5553 - 453
                    .header__social.social
                        ul.social__list.list
                            li.social__item
                                a.icon-facebook
                            li.social__item
                                a.icon-twitter
                            li.social__item
                                a.icon-google
                            li.social__item
                                a.icon-instagram
        .header__item.header__item--big
            .container
                .logo
                    a(href='./index.html')
                        img(src='./../static/public/img/logo.png' alt='')
                nav.nav
                    -
                        let menus=[
                            {
                            link: './index.html',
                            text: 'Home'
                            },
                            {
                            link: './products.html',
                            text: 'Product'
                            },
                            {
                            link: '#',
                            text: 'Hot deals'
                            },
                            {
                            link: '#',
                            text: 'About'
                            },
                            {
                            link: '#',
                            text: 'Contact'
                            }
                        ]
                    .header__mobile.mobile
                        span.mobile__item
                        span.mobile__item
                        span.mobile__item
                    ul.nav__list.list
                        +menu(menus)
                    .header__sidebar.sidebar
                        .sidebar__wrapper
                            .sidebar__close
                                span.sidebar__item.mobile__item
                                span.sidebar__item.mobile__item
                            ul.menu--mobile.menu
                                +menu(menus)
                .header__buttons
                    .button__search
                        a.icon-search
                    .button__user
                        a.icon-user-o
                    .button__cart
                        a.icon-cart.cart
                            span.cart__quantity(data-value=0) 0

